/*
IOS 7 ICON FONT - DEMO PAGE HERE: http://ios7-icon-font-demo.herokuapp.com/
*/
    @font-face {
  font-family: 'ios7-icon';
  src:
    url('fonts/ios7-icon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font-size: 32px;
  font-family: 'ios7-icon';
  margin-right: 20px;
  -webkit-text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.text {
  font-size: 24px;
  line-height: 32px;
}

/* TOP NAVIGATION & FOOTER UNDERLINE HOVER */

    .cc-navigation-menu-list-item-link:hover .cc-navigation-menu-list-item-text {
        border-bottom:2px solid white;
    }
    .cc-navigation-menu-list-item-link:hover .cc-navigation-menu-list-item-text-dark {
        border-bottom:2px solid #555;
    }
    .cc-footer-list-item-link:hover .cc-footer-list-item-text {
        border-bottom:2px solid white;
    }

/* SLIDER VERTICAL ALIGNMENT */

    .w-slide{
        vertical-align:bottom;
    }

/* PRICING PACKAGE BUTTON HOVER */

    .cc-pricing-package-link .cc-button-s.green.center.pricing{
        visibility:hidden;
    }
    .cc-pricing-package-link:hover .cc-button-s.green.center.pricing{
        visibility:visible;
    }


tbody {
  margin-left:auto;
  margin-right:auto;
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  background:#f1f1f1;
}

tr {
  border-bottom:1px solid #ccc;
}

td {
  border-right:1px solid #ccc;
  padding:10px;
}

blockquote {
  margin-left:20px;
  margin-right:20px;
  background:#f1f1f1;
  padding:20px;
  border:1px solid #c9c9c9;
}
.read-more {
  font-weight:400;
  color:#896ec7;
  text-decoration:none;
  border-bottom:1px solid #896ec7;
  margin-left:5px;
}
.cc-resource-link {
  text-decoration:none;
}
img.attachment-thumbnail {
  border-radius: 30px;
}

.cc-blog-post p {
  margin-bottom:20px;
}

.cc-blog-post-full p {
  margin-bottom:20px;
}
.cc-blog-post-full ol {
  margin-bottom:20px;
}
.cc-blog-post-full ul {
  margin-bottom:20px;
}
.cc-blog-post-full img {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.cc-blog-post-full table {
  margin-bottom:20px;
}

.cc-press-post p {
  margin-bottom:20px;
}

.cc-press-post-full p {
  margin-bottom:20px;
}

.cc-press-post-full ol {
  margin-bottom:20px;
}

.cc-press-post-full ul {
  margin-bottom:20px;
}

.cc-press-post-full img {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.cc-press-post-full table {
  margin-bottom:20px;
}