<form name="register" ng-class="{'cc-form-submitted':registerSubmitted}" ng-submit="submitRegisterForm(register.$valid)" novalidate>
  <div class="w-row">
    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
      <label class="cc-label cc-label-match-input" for="full_name">
      	Your Full Name
      </label>
    </div>

    <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
      <input class="w-input cc-input" id="full_name" name="full_name" ng-model="full_name" ng-required="1" placeholder="Aidan Green" type="text">

      <p ng-show="register.full_name.$error.required && registerSubmitted || register.full_name.$error.required && register.full_name.$dirty">
        Company/Organisation Name is required
		  </p>
    </div>
  </div>

  <div class="w-row">
    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
      <label class="cc-label cc-label-match-input" for="company_name">
      	Company
      </label>
    </div>

    <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
      <input class="w-input cc-input" id="company_name" name="company_name" ng-model="company_name" ng-required="1" placeholder="Acme co" type="text">
    </div>
  </div>
  
  <div class="w-row">
    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
      <label class="cc-label cc-label-match-input" for="country">
        Country
      </label>
    </div>

    <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
      <div class="w-embed">
        <select class="w-select cc-input" id="country" name="country" ng-model="country" ng-options="country.id as country.name for country in countries" ng-required="1"></select>

        <p ng-show="register.country.$error.required && registerSubmitted || register.country.$error.required && register.country.$dirty">
      Country is required
    </p>
      </div>
    </div>
  </div>
  
  <div class="w-row">
    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
      <label class="cc-label cc-label-match-input" for="industry">
      	Industry
      </label>
    </div>

    <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
      <div class="w-embed">
        <select class="w-select cc-input" id="industry" name="industry" ng-model="industry" ng-options="industry.id as industry.name for industry in industries" ng-required="1"></select>

        <p ng-show="register.industry.$error.required && registerSubmitted || register.industry.$error.required && register.industry.$dirty">
          Industry is required
		    </p>
      </div>
    </div>
  </div>

  <div class="w-row">
    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
      <label class="cc-label cc-label-match-input" for="email">
      	Email
      </label>
    </div>

    <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
      <input class="w-input cc-input" id="email" name="email" ng-model="email" ng-required="1" placeholder="aidan@example.com" type="email">

      <p ng-show="register.email.$error.email && registerSubmitted || register.email.$error.email && register.email.$dirty">
            Email is invalid
        </p>

		<p ng-show="register.email.$error.required && registerSubmitted || register.email.$error.required && register.email.$dirty">
            Email is required
        </p>
    </div>
  </div>

  <div class="w-row cc-margin-bottom-20">
    <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4">
      <label class="cc-label cc-label-match-input" for="password">
      	Password
      </label>
    </div>

    <div class="w-col w-col-8 w-col-small-8 w-col-tiny-8">
      <input class="w-input cc-input" id="password" name="password" ng-minlength="8" ng-model="password" ng-required="1" placeholder="Something hard to guess" type="password">

      <p ng-show="register.password.$error.minlength && registerSubmitted || register.password.$error.minlength && register.password.$dirty">
			Password is too short.
		</p>

		<p ng-show="register.password.$error.required && registerSubmitted || register.password.$error.required && register.password.$dirty">
			Password is required
		</p>
    </div>
  </div>

  <input class="w-button cc-button-l cc-button-free-trial"  data-wait="Please wait..." id="submit" type="submit" value="Start my 30 day free trial">
</form>

<div class="w-form-done" ng-class="{'w-form-show':success}">
	<p class="cc-success-p">
		{{success}}
	</p>
</div>

<div class="w-form-fail" ng-class="{'w-form-show':error}">
	<p class="cc-error-p">
		{{error}}
	</p>
</div>