<form name="register" ng-class="{'cc-form-submitted':registerSubmitted}" novalidate role="form">
	<div>
		<input name="name" ng-model="name" placeholder="Company/Organisation Name" ng-required="1" type="text">

		<p ng-show="register.name.$error.required && registerSubmitted || register.name.$error.required && register.name.$dirty">
			Company/Organisation Name is required
		</p>
	</div>
	
	<div>
		<input name="email" ng-model="email" ng-required="1" placeholder="Email Address" type="email">

		<p ng-show="register.email.$error.email && registerSubmitted || register.email.$error.email && register.email.$dirty">
            Email is invalid
        </p>

		<p ng-show="register.email.$error.required && registerSubmitted || register.email.$error.required && register.email.$dirty">
            Email is required
        </p>
	</div>
	
	<div>
		<input name="password" ng-minlength="8" ng-model="password" ng-required="1" placeholder="Password" type="password">


		<p ng-show="register.password.$error.minlength && registerSubmitted || register.password.$error.minlength && register.password.$dirty">
			Password is too short.
		</p>

		<p ng-show="register.password.$error.required && registerSubmitted || register.password.$error.required && register.password.$dirty">
			Password is required
		</p>
	</div>

	<div>
		<select name="country" ng-model="country" ng-options="country.id as country.name for country in countries" ng-required="1">
			<option value="">
				Select Country ...
			</option>
		</select>

		<p ng-show="register.country.$error.required && registerSubmitted || register.country.$error.required && register.country.$dirty">
			Country is required
		</p>
	</div>

	<div>
		<input data-wait="Please wait..." id="submit" name="submit" ng-click="submitRegisterForm(register.$valid)" type="button" value="Create Account">
	</div>

	<div class="w-form-done" ng-class="{'w-form-show':success}">
        <p class="cc-success-p">
            {{success}}
        </p>
    </div>

    <div class="w-form-fail" ng-class="{'w-form-show':error}">
        <p class="cc-error-p">
            {{error}}
        </p>
    </div>

</form>