body {
  font-family: Raleway, sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
h1 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
}
h2 {
  margin: 10px 0px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.cc-nav {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 72px;
  background-color: #efefef;
}
.cc-nav-link {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  color: #9b9b9b;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}
.cc-nav-link:hover {
  color: #cb2635;
}
.cc-nav-link:active {
  color: black;
}
.cc-nav-link.cc-home-link {
  margin-bottom: 30px;
}
.cc-nav-link.cc-active {
  color: #cb2635;
}
.cc-top-bar-wrap {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 72px;
  margin-left: 72px;
  padding-right: 25px;
  padding-left: 25px;
  border-bottom: 1px solid #e8e7e7;
  background-color: rgba(255, 255, 255, 0.90);
}
.cc-profile-image-small {
  position: relative;
  top: 13px;
  display: inline-block;
  width: 39px;
  height: 39px;
  margin-left: 15px;
  border-radius: 39px;
  background-image: url('../images/example-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.cc-notifications-counter {
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-block;
  height: 20px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 10px;
  background-color: #cb2635;
  color: white;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
}
.cc-top-bar-link {
  display: block;
  margin-right: 15px;
  float: right;
  color: #555;
  line-height: 72px;
  text-decoration: none;
}
.cc-top-bar-link:hover {
  color: #cb2635;
  text-decoration: underline;
}
.cc-top-bar-link:active {
  color: black;
}
.cc-top-bar-link-divider {
  display: block;
  padding-top: 26px;
  padding-right: 15px;
  padding-bottom: 26px;
  float: right;
}
.cc-top-bar-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 72px;
  font-weight: 300;
}
.cc-top-bar-search-input {
  margin-top: 15px;
  border: 1px solid #e8e7e7;
  border-radius: 4px;
  box-shadow: white 0px 0px 0px 0px inset;
}
.cc-top-bar-profile {
  display: block;
  float: right;
  color: #555;
  line-height: 72px;
  font-weight: 600;
  text-decoration: none;
}
.cc-top-bar-profile:hover {
  color: #b22f39;
}
.cc-top-bar-profile:active {
  color: black;
}
.cc-top-bar-profile-text {
  display: inline-block;
}
.cc-top-bar-profile-text:hover {
  color: #cb2635;
  text-decoration: underline;
}
.cc-top-bar-profile-text:active {
  color: black;
}
.cc-content-container {
  margin-right: 0px;
  margin-left: 0px;
}
.cc-content-wrap {
  margin-left: 72px;
  padding: 97px 25px 60px;
}
.cc-top-bar-container {
  margin-right: 0px;
  margin-left: 0px;
}
.cc-swatch {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  padding-top: 36px;
  color: white;
  font-weight: 600;
  text-align: center;
}
.cc-swatch.red {
  background-color: #cb2635;
}
.cc-swatch.dark-grey {
  background-color: #555;
}
.cc-swatch.light-grey {
  background-color: #e8e7e7;
}
.cc-swatch.light-grey-alt {
  background-color: #efefef;
}
.cc-swatch.grey {
  background-color: #9b9b9b;
}
.cc-swatch.blue {
  background-color: #23aef6;
}
.cc-swatch.green1 {
  background-color: #aedd3d;
}
.cc-swatch.green2 {
  background-color: #3cad57;
}
.cc-swatch.blue2 {
  background-color: #009ddb;
}
.cc-swatch.orange {
  background-color: #ff9800;
}
.cc-input {
  border: 1px solid #e8e7e7;
  border-radius: 4px;
  box-shadow: white 0px 0px 0px 0px inset;
}
.cc-btn {
  display: inline-block;
  padding: 8px 30px;
  border-radius: 4px;
  background-color: #23aef6;
  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}
.cc-btn:hover {
  background-color: #555;
}
.cc-btn:active {
  background-color: rgba(0, 157, 219, 0.49);
}
.cc-btn.cc-btn-wide {
  width: 100%;
}
.cc-label {
  font-weight: 500;
}
.cc-nav-mobile {
  display: none;
  padding-right: 15px;
  padding-left: 15px;
  color: #9b9b9b;
  font-size: 30px;
  line-height: 72px;
  text-align: center;
  text-decoration: none;
}
.cc-nav-mobile:hover {
  color: #b22f39;
}
.cc-nav-mobile:active {
  color: black;
}
.cc-nav-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 80px;
  height: 300px;
}
.cc-nav-footer-site-link {
  position: fixed;
  left: 0px;
  bottom: 26px;
  z-index: 0;
  display: inline-block;
  width: 233px;
  -webkit-transform: rotate(-90deg) translate(100px, -80px);
  -ms-transform: rotate(-90deg) translate(100px, -80px);
  -o-transform: rotate(-90deg) translate(100px, -80px);
  transform: rotate(-90deg) translate(100px, -80px);
  color: #555;
  line-height: 30px;
  font-weight: 600;
  text-decoration: none;
}
.cc-nav-footer-site-link:hover {
  opacity: 0.8;
}
.cc-text {
  display: inline-block;
}
.cc-text.cc-lighter {
  color: #9b9b9b;
}
.cc-nav-footer-site-label {
  display: block;
  float: left;
  color: #555;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
}
.cc-nav-footer-site-name {
  display: block;
  margin-right: 20px;
  float: left;
  color: #9b9b9b;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
}
.cc-nav-footer-site-icon {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #9b9b9b;
  font-size: 30px;
  text-align: center;
}
.cc-nav-footer-site-icon.cc-icon-view:hover {
  color: #cb2635;
}
.cc-nav-footer-site-icon.cc-icon-view:active {
  color: black;
}
.cc-nav-container {
  position: fixed;
  z-index: 2;
  width: 72px;
  padding-bottom: 10px;
  background-color: rgba(239, 239, 239, 0.90);
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.cc-link {
  color: #23aef6;
}
.cc-relative-wrap {
  position: relative;
}
.proto-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 130px;
  height: 40px;
}
.proto-2 {
  position: absolute;
  top: 78px;
  width: 450px;
  height: 150px;
}
.proto-3 {
  position: absolute;
  width: 200px;
  height: 40px;
}
.proto-5 {
  position: absolute;
  left: 48%;
  top: 430px;
  width: 40px;
  height: 40px;
}
.proto-4 {
  position: absolute;
  left: 48%;
  top: 123px;
  width: 40px;
  height: 40px;
}
.proto-6 {
  position: absolute;
  top: 170px;
  right: 0px;
  width: 140px;
  height: 40px;
}
.proto-7 {
  position: absolute;
  bottom: 0px;
  width: 160px;
  height: 40px;
}
.proto-8 {
  position: absolute;
  top: 266px;
  width: 100%;
  height: 50px;
}
.proto-9 {
  position: absolute;
  top: 104px;
  width: 116px;
  height: 159px;
}
.proto-10 {
  position: absolute;
  bottom: 0px;
  width: 200px;
  height: 40px;
}
.proto-content-edit {
  position: absolute;
  top: 64px;
  width: 600px;
  height: 40px;
}
.proto-floated-left-btn {
  width: 140px;
  height: 40px;
  clear: left;
}
.proto-floated-left-btn.small {
  width: 101px;
}
.cc-small-wrap {
  display: block;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  text-align: center;
}
.logo-login {
  margin-bottom: 60px;
}
.cc-public-form-wrapper {
  text-align: left;
}
.cc-input-icon {
  position: absolute;
  width: 22px;
  height: 37px;
  margin-top: 1px;
  margin-left: 10px;
  color: #9b9b9b;
  font-size: 22px;
  line-height: 38px;
}
.cc-input-with-icon {
  padding-left: 40px;
}
.cc-padding-bottom {
  margin-bottom: 40px;
}
.cc-progress-wrap {
  width: 100%;
  height: 20px;
  background-color: #efefef;
}
.cc-progress {
  width: 10%;
  height: 20px;
  background-color: #23aef6;
}
.cc-progress-percentage {
  float: right;
}
.cc-btn-secondary {
  background-color: #9b9b9b;
}
.cc-wide-200 {
  width: 200px;
}
.proto-11 {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 50px;
}
@media (max-width: 991px) {
  .cc-top-bar-profile-text {
    display: none;
  }
}
@media (max-width: 767px) {
  .cc-nav-link.cc-home-link {
    margin-bottom: 20px;
  }
  .cc-top-bar-link {
    display: none;
  }
  .cc-top-bar-link-divider {
    display: none;
  }
}
@media (max-width: 479px) {
  .cc-nav {
    display: none;
    height: 72px;
  }
  .cc-top-bar-wrap {
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .cc-content-wrap {
    margin-left: 0px;
  }
  .cc-top-bar-search-col {
    display: none;
  }
  .cc-top-bar-profile-col {
    display: none;
  }
  .cc-nav-mobile {
    display: block;
    float: right;
  }
}